# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.python-version
venv

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
*.db

# Ignore Django migrations
*/migrations/*.py
!*/migrations/__init__.py

# Environment variables
.env

# Docker related
docker-compose.override.yml
docker-compose.override.yaml
.dockerignore
Dockerfile.*
*.tar

# Terraform specific
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json

# Ignore Terraform plan output files
*.tfplan

# Ignore sensitive data or credentials
secrets/
*.pem
*.key

# IDE and editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.dll

# macOS specific files
.DS_Store
